.create__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create__title {
    font-size: 3.6rem;
    font-weight: 800;
    font-style: italic;
    line-height: normal;
    margin-bottom: 5rem;
    margin-top: 8rem;
}

.create__button {
    width: 155PX;
    height: 35px;
    border-radius: 1.5rem;
    background: var(--blueWork);
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 30px;
    border: none;
}

.create__button:hover {
    background-color: var(--white);
    color: var(--blueWork);
    border: 0.1rem solid var(--blueWork);
    transition: 0.3s;
}